<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="O2W (www.o2w.es)">
  <title>{if:$titulo}{$titulo} | {/if}Administración web</title>
  {eval:return js("jquery")}
  <link href="/resources/admin/css/admin.css" rel="stylesheet" type="text/css" />
	{$css_files}
	{$js_files}
<body>


{if:$error}
<div class='error-auth'>{$error}</div>
{/if}
<div id='auth_form'>
	<h2{if:$showLogo} class='logo'{/if}>{$title}</h2>
	<form method='post' action='{eval:return web::uri()}'>
	<div >
		<label><span>{t:Usuario}:</span>
			<input type='text' name='username' class='text'/>
		</label>
		<label><span>{t:Contraseña}:</span>
			<input type='password' name='password' class='text'/>
		</label>
		<input type='submit' value='{t:Entrar}' class='submit'/>
	</div>
	</form>
</div>
<p class='auth_form'>
	{$message}
</p>
</body>
</html>
