[submodule "vendors/symfony/component/httpfundation"]
	path = vendors/symfony/component/httpfundation
	url = https://github.com/symfony/HttpFoundation.git
[submodule "vendors/symfony/component/yaml"]
	path = vendors/symfony/component/yaml
	url = https://github.com/symfony/Yaml.git
[submodule "vendors/symfony/component/classloader"]
	path = vendors/symfony/component/classloader
	url = https://github.com/symfony/ClassLoader.git
[submodule "vendors/symfony/component/routing"]
	path = vendors/symfony/component/routing
	url = https://github.com/symfony/Routing.git
[submodule "vendors/symfony/component/eventdispatcher"]
	path = vendors/symfony/component/eventdispatcher
	url = https://github.com/symfony/EventDispatcher.git
[submodule "vendors/josesanch/php-google-map-api"]
	path = vendors/josesanch/php-google-map-api
	url = https://github.com/josesanch/php-google-map-api
