<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
            "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta name="author" content="O2W (www.o2w.es)">
  <title>{if:$titulo}{$titulo} | {/if}Administración web</title>
  <link href="/resources/admin/css/admin.css" rel="stylesheet"
		type="text/css" />
    {eval:return js::jquery()}
  	{eval:return js::validate()}
  	{eval:return js::fancybox()}
	{eval:return js::jqueryui()}
	{eval:return js("jquery/ui/i18n/ui.datepicker-es")}
	{eval:return js("jquery/form")}
	<script src="/resources/admin/js/funciones.js" type="text/javascript"></script>
	{$css_files}
	{$js_files}
  </head>
<body>
<h1>{t:Panel de administración web} | {filter:ucfirst:$titulo}</h1>
<div id="menu_div" class="clearfix">
	<div id="header_div" >
		<a href="/admin/index/logout"  id="boton_salir" class="no_print">{t:Salir}</a>
	</div>

	<div id="tabsWrapper" class="clearfix">
		<div id="tabs">
          <ul>
			{$data->getMenu()}
			{if:$data->show_back_to_web}<li class='volver-a-web'><a href='http://{eval:return $_SERVER['SERVER_NAME']}'>{t:Ver web pública}</a></li>{/if}
          </ul>
		</div>
	</div><div id="crumbsWrapper">
        <div id="crumbsBlock">
          <div id="crumbs">
            <ul>
       			{$data->getSubMenu()}
            </ul>
          </div>
        </div>
      </div>
</div>

<div id="content_div" class="clearfix">
{$content}
</div>

</body>
</html>
