<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" >
<meta name="author" content="O2W (www.o2w.es)">
<link href="/resources/admin/css/administration.css" rel="stylesheet" type="text/css" >
<title>Administración</title>
<body>
<div id='header' class='clearfix'>
	{$title}asdf
</div>
<div id='container' class='clearfix'>
	<div id='menu' class='clearfix'>
		{$menu}
	</div>
	<div id='content' class='clearfix'>
		{$content}
	</div>
</div>
</body>
</html>
