
body {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 12px;  background-color: #E5E5E5;
  margin: 0px 0px 0px 0px;
  padding: 0px;
}

	h1 { position: absolute; padding: 0px; margin: 0.3em 1em; font-size: 1.25em; color: #999;}
	#header_div {   text-align: right; width: 96%; position: absolute; margin-top: 0.6em;}
	#boton_salir { color:#a0a0a0; text-decoration: none;}
	#logo { margin: auto auto 20px auto; float: left;}

	#menu_div { background-color: white; border: 1px solid white;}
	#content_div { background-color: white; margin: 2em 2em; }




#tabsWrapper {
  margin: 0px auto 0 auto;
  padding-top: 0.5em;
  text-align: left;
	background: url("/resources/admin/images/header.gif") 0 120%;


}

#headerWrapper {
	background-color:white;
}

#tabs {
	width: 100%;
	overflow: hidden;
	margin-top: 2em;
	background: url("/resources/admin/images/menu.gif");
}

#tabs ul {
  margin: 0;
  padding: 0 4%;
  list-style: none;
}

#tabs ul li {
  margin: 0 ;
  float: left;

}

#tabs ul li a {
  border: 0;
  display: block;
  padding: 0 15px;
	color: #d4d4d4;


  text-align: center;
	font-weight: bold;
  font-size: 1.1em;
  line-height: 2em;
  text-decoration: none;
}

#tabs ul li a:hover {
	border: 0;
  display: block;
  padding: 0 15px;
	color: white;
  text-align: center;
  background: #ffa600;
  font-size: 1.1em;
  line-height: 2em;
  text-decoration: none;
}


#tabs ul li.active a {
  	padding: 0 15px;
  	color: white;
	line-height:2em;
	font-weight:bold;
  background: #ffa600 url(/resources/admin/images/menutop.gif) 50% 0% no-repeat;
}

#tabs ul li.active a:hover {
  color: white;
  text-decoration: none;


}
#tabs ul li.volver-a-web  {float: right; font-weight: normal;}
#tabs ul li.volver-a-web a { font-weight: normal;}
#tabs ul li.volver-a-web a:hover { background: transparent; }
/** Crumbs **/

#crumbsWrapper {
  clear: both;
  background: #3A3A3A;
  margin: 0 auto;
  float: left;
  width: 100%;
  border-top: 2px solid #FFA600;


}

#crumbsBlock {
  margin: 0 auto;
  padding: 0 10px;

  line-height: 2em;
  text-align: left;
}

#crumbs {
  float: left;
  padding-left: 4%;

}

#crumbs ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#crumbs ul li {
  display: inline;
  line-height: 22px;
  color: white;
  font-size: 0.9em;
  font-weight: bold;
}

#crumbs ul li span {
  font-weight: normal;
}

#crumbs ul li a {
  margin: 0 3px;
  border: 0;
  color: white;
  font-weight: normal;
  text-decoration: none;
}

#crumbs ul li.active a {
  font-weight: bold;
}

#crumbs ul li a:hover {
  text-decoration: underline;
  background: transparent;
}
.separador_submenu { color: white; }


/* ========================================= clearfix == */
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.clearfix {display: inline-block;}

* html .clearfix {height: 1%;}
.clearfix {display: block;}

/*****************************************************************************************************************
*	FORMS
*****************************************************************************************************************/

fieldset.admin_form {	background-color: #fcfcfc; border: 2px solid #FFA600; padding: 2em 2em; margin: 0em 1em 1em 1em; }

label.autoform {

	display: block;
	padding-bottom: 2em;
	font-weight: bold; color: gray;
	float: left;
	margin-right: 2em;
	text-transform: capitalize;

}



label.autoform span {  display: block; 	}

label.autoform input  { margin-top: 0.1em;  border: 1px solid #96AABF; background: white; color: #333; padding: 0.2em; }

label.autoform.textarea { clear: both; }
label.autoform.textarea textarea { float: left; margin-top: 0.1em;  border: 1px solid #96AABF; background: white; color: #333;  padding: 0.2em;}
label.autoform.htmleditor { width: 100%;}

div.form-buttons  { clear: both; padding-top: 1em; display: block; margin: auto;  text-align: center; }
div.form-buttons  input { display: inline; }

textarea, input[type=text] { border: 1px solid gray; }
textarea:focus, input[type=text]:focus { border: 1px dotted orange; }
input.error { border: 1px dotted red;  }


label.error { background: url("/resources/icons/jquery.liveValidation-invalid.png") 0 50% no-repeat; padding-left: 20px; margin-top: 3px; color: red; display: block; font-weight: normal; text-transform: none;}

fieldset legend { margin: 0px; padding: 0px;  font-weight: bold; color: gray; font-size: 2em;}

/*****************************************************************************************************************
*	CKEDITOR
*****************************************************************************************************************/

label.ckeditor { overflow: hidden; display: block; float: none; clear: both; font-weight: bold; color: gray; }
.cke_skin_kama { margin-bottom: 2em; }

/* === GRID ======================================== */
table.grid {
	font-size: 1em;
	margin: auto;
}
.grid_header {
	padding: 3px;
	background: url("/resources/admin/images/menu.gif");
	font-weight: bold;


}


tr.row_even {
	background-color: #f0f0f0;
}

tr.row_odd {
	background-color: #fafafa;
}


tr.grid_row_hover {
	background-color: #DBDBDB;
	color: #;
	cursor: pointer;
}

td.grid_cell {
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;

}
td.grid_cell a { color: #333; text-decoration: none; padding: 0.1em 0px; display: block; }
a.header {
	color: white;
	text-decoration: none;

}
a.header:hover {
	color: white;
	text-decoration: underline;
}
a.query_page {
	color: #a4a7ab;
	text-decoration: none;
}

.submit { margin: 1px;}


/*****************************************************************************************************************
*	IMAGES DATAVIEW
*****************************************************************************************************************/
.images-dataview { clear: both;  border: 1px solid #002B58; margin: 0; padding: 1em; outline: 0; list-style: none; overflow: hidden; background: white url("/resources/admin/images/header.gif") 0px 100% repeat-x;  }
.images-dataview li { margin: 0; padding: 0; width: 150px; height: 110px; float: left; ; overflow: hidden; text-align: center; }
.images-dataview p:hover { background-color: #eea; border: 1px solid gray;  }
.images-dataview li div { text-align: center; overflow: hidden; padding: 5px;  margin: auto;  width: 100px;}
.images-dataview li p { clear: both; display: inline; margin: auto; text-align: center;  border: 1px solid transparent;   }
.images-dataview li div img { padding: 0px; display: block; margin: auto; float: left; }
.images-dataview li div a { float: left; display: block; }
.images-dataview li div a img { border: 1px solid gray; }

h5.images { border-bottom: 0px; clear: both; 	background: url("/resources/admin/images/menu.gif"); color: white; font-weight: bold; font-size: 1.1em; padding: 3px 0px 1px 3em;  margin: 0;}
div.contenedor-boton-upload object  { float: right; }
div.contenedor-boton-upload { clear: both; margin-top: 5px; margin-bottom: 2em; }
.autoform.no-margin { padding: 0px; }


/*****************************************************************************************************************
*	LISTADOS
*****************************************************************************************************************/
div.listado-resultados { width: 98%;  color: #333; margin: auto;  }
div.listado-resultados div { margin-bottom: 0.5em; }
div.pie-listado-resultados { width: 98%; margin: auto; text-align: right; color: white; }
div.pie-listado-resultados div { padding: 5px; color: #333; }
div.listado-resultados .texto-buscar { border: 1px solid #96AABF; background: white; color: #333; padding: 0.2em; margin-left: 0.5em;}
div.listado-resultados .boton-buscar { padding: 0.2em; border: 0px; background: #96AABF url("/resources/admin/images/system-search.png") 5px 50% no-repeat; padding-left: 20px;; color: white; margin-left: 0.5em; }
div.listado-resultados .boton-nuevo { padding: 0.2em; border: 0px; background: #99D177 url("/resources/admin/images/list-add.png") 5px 50% no-repeat; padding-left: 20px;; color: white;  margin-left: 0.5em; }


/*****************************************************************************************************************
*	FORMULARIO
*****************************************************************************************************************/
input.boton-volver { padding: 0.3em; border: 0px; background: #96AABF url("/resources/admin/images/edit-undo.png") 5px 50% no-repeat; padding-left: 20px; color: white;  margin-left: 0.5em; }
input.boton-eliminar { padding: 0.3em; border: 0px; background: #FFB5B5 url("/resources/admin/images/process-stop.png") 5px 50% no-repeat; padding-left: 20px; color: white;  margin-left: 0.5em; }
input.boton-guardar { padding: 0.3em; border: 0px; background:  #99D177 url("/resources/admin/images/document-save.png") 5px 50% no-repeat; padding-left: 25px; color: white; margin-left: 0.5em;}

h2 {  padding-bottom: 0.2em; border-bottom: 1px solid #c0c0c0; margin-bottom: 1em; clear: both;}


/*****************************************************************************************************************
*    HELPERS/GEOLOCATION
*****************************************************************************************************************/
.geolocation .info { color: gray;}
.geolocation div.inputs { clear: both; display: block; margin-top: 1em; }
.geolocation .comprueba { margin-top: 1em; }
.geolocation .comprueba input {border: 0px; }
.geolocation #map {margin-top: 1em; }
.geolocation .enviar { float: right: font-weight: bold; margin-left: 2em; }
