@import url(undohtml.css);
@import url(hacks.css);

body {
  background-color: #000;
  color: #666;
  text-align: center;
  font-family: arial, sans-serif;
  font-size: 1em;
}

img {
  border: 0;
}

a:active {
  outline: none;
}
:focus {
  -moz-outline-style: none;
}

#wrapper {
  width: 500px;
  margin: 10px auto;
  position: relative;
  text-align: left;
}

#title {
  width: 215px;
  height: 45px;
  float: left;
  background: #333;
  text-align: center;
  padding: 10px 20px 0 20px;
}
#title h1 {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 4px;
}
#title h1 strong {
  letter-spacing: 6px;
  font-size: 10px;
  color: #ccc;
}
#title h1 a {
  color: white;
  display: block;
  text-decoration: none;
}

#mainNav {
  text-align: left;
  height: 50px;
  margin: 0 0 10px 265px;
  padding: 0 0 5px 10px;
  border-left: 1px solid #333;
}
#mainNav small {
  font-size: 10px;
}
#mainNav li {
  position: relative;
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#mainNav li.hilite {
  background-color: #333;
}
#mainNav li.nav {
  float: left;
  padding: 1px 6px 1px 0;
}
#mainNav li.nav span {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  cursor: hand;
  cursor: pointer;
}
#mainNav li.alt span {
  color: #999;
  font-weight: normal !important;
}
#mainNav li.alt li.subnav a {
}
#mainNav ul ul {
  display: none;
  position: absolute;
  left: 0;
  top: 20px;
  white-space: nowrap;
}
#mainNav ul ul li.subnav {
  font-size: 11px;
  display: inline;
}
#mainNav ul ul li.subnav a {
  border-right: 1px solid #999;
  padding-right: 5px;
}
#mainNav ul ul li.last a {
  border-right: 0;
}
#mainNav ul ul li.subnav a {
  color: #fff;
  font-weight: normal;
}
#mainNav ul ul li.subnav a:hover,
#mainNav ul ul li.subnav a.active {
  color: red;
}


.gallery {
  position: relative;
}
.gallery .image_holder {
  position: relative;
  background: #000;
  text-align: center;
  z-index: 0;
}
.gallery .image_holder img {
  display: block;
  margin: 0 auto;
}
.gallery .image_holder img.swap {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.gallery .glass {
  background: transparent url(../images/transparent.gif);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  xbackground-color: red;
}

.gallery .back_next {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 20;
  display: none;
}
.gallery .back_next a {
  position: absolute;
  top: 0;
  display: block;
  width: 50%;
  background: transparent url(../images/transparent.gif);
}
.gallery .back_next a span {
  color: #666;
  background-color: #000;
  color: #fff;
  display: block;
  width: 50px;
  font-size: 75%;
  padding: 2px 0;
  text-align: center;
  filter: alpha(opacity=25);
  -moz-opacity: 0.25;
  opacity: 0.25;
}
.gallery .back_next a:hover span {
  filter: alpha(opacity=100);
  -moz-opacity: 1.0;
  opacity: 1.0; 
}
.gallery .back_next a.back {
  left: 0;
  text-align: left;
}
.gallery .back_next a.next {
  left: 50%;
  text-align: right;
}
.gallery .back_next a.back span {
  -moz-border-radius: 0 0 10px 0;
}
.gallery .back_next a.next span {
  -moz-border-radius: 0 0 0 10px;
  float: right;
}

.gallery div.thumbs {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  padding: 5px;
  background-color: #000;
  display: none;
  filter: alpha(opacity=85);
  -moz-opacity: 0.85;
  opacity: 0.85;
  -moz-border-radius: 0 0 10px 10px;
}
/*
.gallery div.hover {
  filter: alpha(opacity=100) !important;
  -moz-opacity: 1 !important;
  opacity: 1 !important;
}
*/

.gallery div.thumbs .loading_msg {
  margin: 0 0 5px 0;
  font-size: 80%;
  text-align: center;
}
.gallery .thumbs ul {
  xmargin: 20px;
}
.gallery .thumbs li {
  float: left;
}
.gallery .thumbs a {
  display: block;
  overflow: hidden;
  text-align: center;
  font-size: 70%;
  color: #999;
  cursor: hand;
  cursor: pointer;
  border: 2px solid #000;
}
.gallery .thumbs a:hover,
.gallery .thumbs a.active {
}
.gallery .thumbs a:hover {
  border-color: #fff;
}
.gallery .thumbs a.active {
  border-color: red !important;
}

#copyright {
  margin: 5px 0 10px 0;
  font-size: .75em;
}
#copyright ul {
  display: block;
}
#copyright ul,
#copyright li {
  list-style: none;
  text-align: center;
}
#copyright li {
  display: inline;
}
#copyright a {
  text-decoration: none;
  color: #ccc;
  text-transform: uppercase;
}
#copyright a:hover {
  color: white;
}

.hide {
  text-indent: -999px;
  visibility: hidden;
  display: none;
}