<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="es">

<head>

<!-- 	Título -->
	<title>Page Title</title>


<!-- 	Meta's -->
	<meta content="text/html; charset=utf-8" http-equiv="content-type" />
	<meta name="author" content="O2W eSolutions, www.o2w.es"/>
<!-- Insertar: description, keywords, robots, author y pramga -->

<!-- 	Scripts -->
	<!--<script src="DIRECCION archivo JS" language="JavaScript" type="text/javascript"></script> -->

<!-- 	Estilos -->


</head>
<body>

</body>
</html>
